{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}{% endblock %}</title>
    {% include 'dmca/css.html' %}
    {% block extra_head %}{% endblock %}

  </head>
  <body>
    {% block body %}


    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
          <div class="row flex-grow">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
              <div class="auth-form-transparent text-left p-3">
                <div class="brand-logo">
                  <a href="{% url 'loginview' %}">
                    <img src="{% static 'images/logo.svg' %}" alt="logo">
                  </a>
                </div>

                {% if messages %}
                <div class="alert alert-warning" role="alert">
                  <strong>Messages:</strong>
                  <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}

    {% block content %}
    {% endblock %}
    {% endblock %}
    <br>
    <br>
    <a  style="font-size:14px;"href="{% url 'loginview' %}">
      Home
    </a>
</div>

</div>

<div class="col-lg-6 login-half-bg d-flex flex-row">
  <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright © Heber Camargo 2021</p>
</div>
</div>
</div>
<!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
    {% block extra_body %}
    {% endblock %}.
    {% include 'dmca/js.html' %}
  </body>
</html>
