{% extends 'dmca/tables_content.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %} Upload Tube report {% endblock %}

{% block title_content %} Upload Tube report{% endblock %}

{#    CONTENT   #}
{% block card_title %} {{ title }} {% endblock card_title %}

{% block buttons %}

{% endblock %}

{% block columns %}
    <div class="container">
    <form autocomplete="off" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="form-floating">
{#                    {{ form.clients_id_clie }}#}
                <input list="nicks" name="nick" id="name-id" class="form-control" />
                    <datalist id="nicks">
                        {% for nick in nicks %}
                            <option value="{{ nick }}">
                        {% endfor %}
                    </datalist>
                    <label for="floatingSelect">Client</label>
                {{ form.nick.errors }}
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    {{ form.date_tube }}
                    {{ form.date_tube.errors }}
                    <label for="floatingInput">Date</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                <input list="tubes" name="tube" class="form-control" />
                    <datalist id="tubes">
                        {% for tube in name_tube_page %}
                            <option value="{{ tube }}">
                        {% endfor %}
                    </datalist>
                    <label for="floatingSelect">Tube Page</label>
                {{ form.name_tube_page.errors }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-text">
                    <label for="floatingTextarea2">URL's</label>
                    {{ form.tube_urls }}
                    {{ form.tube_urls.errors }}
                </div>
                <br>
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                Upload </button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}

{% block rows %}
    {# datatables #}
{% endblock %}

{% block extra_body %}

{% endblock %}