{% extends 'dmca/tables_content.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %} List of Clients {% endblock %}

{% block title_content %} List of Clients {% endblock %}
{% block buttons %}

{% endblock %}

{% block card_title %} List of Clients assigned to you{% endblock %}

{% block columns %}
    <tr class="py-1">
        <th width="40%">
            Name
        </th>
        <th width="50%">
            Nick - Page
        </th>
        <th width="5%">
            Plan
        </th>
        <th width="5%">
            Hide
        </th>
    </tr>
{% endblock %}
<tr class="values">
{% block rows %}
    {# datatables #}
{% endblock %}
</tr>

{% block extra_body %}
    {% include 'dmca/js_tables.html' %}
    <script src="{% static 'functions/worker/manage.js' %}"></script>
{% endblock %}