{% extends 'dmca/tables_content.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %} List of Clients {% endblock %}

{% block title_content %} List of Clients {% endblock %}
{% block buttons %}

{% endblock %}

{% block card_title %} List of Clients assigned to you{% endblock %}

{% block columns %}
    <tr class="py-1">
        <th width="70%">
            Name
        </th>
        <th width="20%">
            Plan
        </th>
        <th width="10%">
            Option
        </th>
    </tr>
{% endblock %}

{% block rows %}
    {# datatables #}
{% endblock %}


{% block extra_body %}
    <!-- Modal -->
    <div class="modal fade" id="myModalClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="ti-search"></i> <span></span></b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <table id="list_data2" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nick</th>
                        <th scope="col">Page</th>
                        <th scope="col">Priority</th>
                    </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>



            </div>
        </div>
    </div>

    {% include 'dmca/js_tables.html' %}
    <script src="{% static 'functions/worker/manage.js' %}"></script>

{% endblock %}