{% extends 'dmca/body_content.html' %}
{% load crispy_forms_filters %}
{% block title %} Set Password {% endblock title %}

{% block title_content %}Set a new password{% endblock title_content %}

{% block form_content %}
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
          <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
            Update</button>
        </div>
    </form>
{% endblock form_content %}

{% block description_content %}
Asigne your new password, as you register with a social media your password
is in blank and only can log in that way.
Asigning a password you can log with email and password as well.
remember combine your password with symbol, numbers and letters.
{% endblock description_content %}
