{% extends 'dmca/body_content.html' %}
{% load crispy_forms_filters %}
{% block title %} Change Password {% endblock title %}

{% block title_content %}Change password{% endblock title_content %}

{% block form_content %}
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div>
      <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
        Update</button>
    </div>
</form>
{% endblock form_content %}

{% block description_content %}
Change your password with valid information, remember put some strong
password combining symbols, numbers and letters.
{% endblock description_content %}
