{% extends 'dmca/tables_content.html' %}
{% load static %}

{% block title %} Manage Users {% endblock %}

{% block title_content %} Manage Users {% endblock %}

{% block card_title %} {{ title }} {% endblock card_title %}

{% block buttons %} {% endblock %}

    {% block columns %}
        <tr>
          <th>
            User
          </th>
          <th>
            First name
          </th>
          <th>
            Last name
          </th>
          <th>
            Email
          </th>
          <th>
            Options
          </th>
        </tr>
    {% endblock %}

    {% block rows %}

    {% endblock %}

{% block extra_body %}
    {% include 'dmca/js_tables.html' %}
    <script src="{% static 'functions/users/manage.js' %}"></script>
{% endblock %}



