{% extends 'dmca/tables_content.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %} Manage Plans {% endblock %}

{% block title_content %} Manage Plans {% endblock %}

    {#    CONTENT   #}
    {% block card_title %} {{ title }} {% endblock card_title %}

    {% block buttons %}
        <button id="create-plan" type="button" name="button" class="btn btn-primary py-1">
        <i class="ti-plus"></i>
        Add New
        </button>
    {% endblock %}

    {% block columns %}
        <tr class="py-1">
              <th>
                Id
              </th>
              <th>
                Plans
              </th>
              <th>
                Options
              </th>
        </tr>
    {% endblock %}

    {% block rows %}
       {# datatables #}
    {% endblock %}

{% block extra_body %}
<!-- Modal -->
    <div class="modal fade" id="myModalClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <form method="post" action="." enctype="multipart/form-data">
          {% csrf_token %}
            <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <input name="action" type="hidden" value="add">
                {{ form|crispy }}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-flat btn-block"><i class="fas fa-save"></i>
                Save</button>
              </div>
            </div>
          </div>
      </form>
    </div>

{% include 'dmca/js_tables.html' %}
<script src="{% static 'functions/plans/manage.js' %}"></script>

{% endblock %}






