<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equv="x-wa-compatible" content="ie-edge">
    <title>{% block title %}{% endblock %}</title>
    {% include 'dmca/css.html' %}
    {% block extra_head %}  {% endblock %}

  </head>
  <body>
    <div class="container-scroller">
      {% include 'dmca/navbar.html' %}
      <div class="container-fluid page-body-wrapper">
        {% include 'dmca/sidebar.html' %}
        <div class="main-panel">
          {% block content %}
          {% endblock %}
          {% include 'dmca/footer.html' %}
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
{% include 'dmca/js.html' %}
{% block extra_body %}  {% endblock %}
  <script>
$(document).ready(function(){
    $('#divbtnmodal')
        .on('click', 'a', function (){
            var idclaim = $( this ).find("#idclaim").val();
            var numberurls = $( this ).find("#numberurls").val();
            var typeofclaim = $( this ).find("#typeofclaim").val();
            var dateclaim = $( this ).find("#dateclaim").val();
            var urls = $( this ).find("#urls").val();

            document.getElementById("exampleModalLabel").innerHTML = idclaim;
            document.getElementById("goog_cant").innerHTML = numberurls;
            document.getElementById("type_claim").innerHTML = typeofclaim;
            document.getElementById("date_goog").innerHTML = dateclaim;
            document.getElementById("urls_goog").innerHTML = urls;

            $('#exampleModal').modal('show');
        });

    $('#divbtnmodal2')
        .on('click', 'a', function (){
            var date_tube = $( this ).find("#date_tube").val();
            var tube_urls = $( this ).find("#tube_urls").val();
            var cant_urls = $( this ).find("#cant_urls").val();
            var name_tube_page = $( this ).find("#name_tube_page").val();

            document.getElementById("tube_date").innerHTML = date_tube;
            document.getElementById("urls_tube").innerHTML = tube_urls;
            document.getElementById("urls_cant").innerHTML = cant_urls;
            document.getElementById("name_tube").innerHTML = name_tube_page;

            $('#exampleModal2').modal('show');
        });

});
</script>
</body>
</html>