{% extends 'dmca/base_layout.html' %}
{% load static %}
{% block extra_head %}  {% include 'dmca/css_tables.html' %} {% endblock %}
{% block title %} Home {% endblock %}
{% block title_content %} Home {% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="font-weight-bold mb-0">DMCAprivacy dashboard</h4>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-icon-text btn-rounded">
                            <i class="ti-clipboard btn-icon-prepend"></i>Report
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">Total URL's</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
                                {{ total }}
                            </h3>
                            <i class="fas fa-globe icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>
                        <p class="mb-0 mt-2 text-success"><span class="text-black ml-1"><small>since ({{ user.date_joined }})</small></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">Google Images</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
                                {{ images.cant_urls_gore__sum }}
                            </h3>
                            <i class="far fa-id-badge icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>
                        <p class="mb-0 mt-2 text-success">100% <span class="text-black ml-1"><small>Approved </small></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">Google Content</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
                                {{ content.cant_urls_gore__sum }}
                            </h3>
                            <i class="fas fa-photo-video icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>
                        <p class="mb-0 mt-2 text-success">100%<span class="text-black ml-1"><small> Approved</small></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">DMCA Tubes</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
                                {{ tubes.cant_urls__sum }}
                            </h3>
                            <i class="fas fa-eraser icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>
                        <p class="mb-0 mt-2 text-success">100%<span class="text-black ml-1"><small> Approved</small></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Sales details</p>
                        <p class="text-muted font-weight-light">Received overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
                        <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                        <canvas id="sales-chart"></canvas>
                    </div>
                    <div class="card border-right-0 border-left-0 border-bottom-0">
                        <div class="d-flex justify-content-center justify-content-md-end">
                            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                <button class="btn btn-lg btn-outline-light dropdown-toggle rounded-0 border-top-0 border-bottom-0" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Today
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                                    <a class="dropdown-item" href="#">January - March</a>
                                    <a class="dropdown-item" href="#">March - June</a>
                                    <a class="dropdown-item" href="#">June - August</a>
                                    <a class="dropdown-item" href="#">August - November</a>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-outline-light text-primary rounded-0 border-0 d-none d-md-block" type="button"> View all </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-title">  All the reports  </h4>
                            </div>
                        </div>

                        {# TABLE BLOCK#}
                        <div class="table-responsive">
                            <table id="list_data" class="table table-striped" >
                                {#  table content suppressed #}
                                <thead>
                                <tr class="py-1">
                                    <th>
                                        Id google
                                    </th>
                                    <th>
                                        Nick
                                    </th>
                                    <th>
                                        Urls
                                    </th>
                                    <th width="30%">
                                        Id Claim
                                    </th>
                                    <th width="30%">
                                        Date
                                    </th>
                                    <th width="30%">
                                        Report Type
                                    </th>
                                    <th width="10%">
                                        Status
                                    </th>
                                </tr>
                                </thead>
                                <a href="#">
                                    <tbody>
                                    {#Datatables#}
                                    </tbody>
                                </a>
                            </table>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock content %}


{% block extra_body %}
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="myModalClient" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <img src="{% static "images/Logo-dmcaprivacy.png" %}" width="120px" height="28px" >
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">

                            <div class="card position-relative">
                                <div class="card-body">
                                    <p class="card-title">Detailed Report</p>

                                    <div class="row">
                                        <div class="col-md-12 col-xl-3 ">
                                            <div class="ml-xl-4">
                                                <h1 id="total_urls" align="center">number of urls </h1>
                                                <p class="alert-success" align="center">Urls approved</p>
                                                <h6 class="font-weight-light mb-xl-4">ID Claim <br><b id="id_claim" style="font-weight: bold"></b></h6>
                                                <h6 class="font-weight-light mb-xl-4"><b id="type_content" style="font-weight: bold"></b> </h6>
                                                <p class="text-muted mb-2 mb-xl-0">
                                                    This report was sent and approved on <b id="date_claim" style="font-weight: bold"></b>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-xl-9">
                                            <div class="row">
                                                <div class="form-text">
                                                    <textarea id="urls_claim" style="height: 350px; width: 100%" readonly> </textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

























                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-flat btn-block"><i class="fas fa-save"></i>
                        Save</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'dmca/js_tables.html' %}
    <script src="{% static 'functions/clients/table_home.js' %}"></script>

{% endblock %}