{% load static %}
<!--START CSS for DataTables-->
<!-- Datatables Confirm -->
<link rel="stylesheet" href="{% static 'libs/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
<!-- Jquery Confirm -->
<link rel="stylesheet" href="{% static 'libs/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap5.min.css' %}">
<!--END CSS for DataTables-->