{% extends 'dmca/body_content.html' %}
{% load crispy_forms_filters %}
{% block title %} Edit User {% endblock title %}

      {% block title_content %}Edit User{% endblock title_content %}

      {% block form_content %}
          <form method="post">{% csrf_token %}
              {{ form|crispy }}
              <div>
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                  Update</button>
              </div>
          </form>
      {% endblock form_content %}

      {% block description_content %}
      Complete your profile with valid information. Name and last name only
      letters and remember use a valid Email address.
      {% endblock description_content %}
