{% load static %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo mr-5" href="{% url 'loginview' %}"><img src="{% static 'images/logo.svg' %}" class="mr-2" alt="logo"/></a>
    <a class="navbar-brand brand-logo-mini" href="{% url 'loginview' %}"><img src="{% static 'images/logo-mini.svg' %}" alt="logo"/></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="ti-view-list"></span>
    </button>
    <ul class="navbar-nav mr-lg-2">
      <li class="nav-item nav-search d-none d-lg-block">
        <div class="input-group">
          <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
            <span class="input-group-text" id="search">
              <i class="ti-search"></i>
            </span>
          </div>
          <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">






      <li class="nav-item dropdown mr-1">
        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
          <i class="ti-email mx-0"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
          <p class="mb-0 font-weight-normal float-left dropdown-header">Last five reports</p>


            <div id="divbtnmodal">
            {% for five in last_five_google %}

                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                    <input id="idclaim" type="hidden" value="{{ five.id_clai_gore }}" >
                    <input id="numberurls" type="hidden" value="{{ five.cant_urls_gore }}">
                    <input id="typeofclaim" type="hidden" value="{{ five.type_clai_gore }}">
                    <input id="dateclaim" type="hidden" value="{{ five.date_gore }}">
                    <input id="urls" type="hidden" value="{{ five.urls_gore }}">
                    <div class="item-thumbnail">
                        {% if five.type_clai_gore == 'DMCA-IMAGES' %}
                            <i class="far fa-file-image fa-2x"></i>
                        {% else %}
                            <i class="fas fa-film fa-2x"></i>
                        {% endif %}
                    </div>
                    <div class="item-content flex-grow">
                      <h6 class="ellipsis font-weight-normal">
                          {{ five.id_clai_gore }}
                      </h6>
                      <p class="font-weight-light small-text text-muted mb-0">
                          {{  five.date_gore }}
                      </p>
                    </div>
                </a>

            {% endfor %}
            </div>




        </div>
      </li>




      <li class="nav-item dropdown">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
          <i class="ti-bell mx-0"></i>
          <span class="count"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
          <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-success">
                <i class="ti-info-alt mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">Application Error</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                Just now
              </p>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-warning">
                <i class="ti-settings mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">Settings</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                Private message
              </p>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-info">
                <i class="ti-user mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">New user registration</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                2 days ago
              </p>
            </div>
          </a>
        </div>
      </li>

      <li class="nav-item">
        <div>
          {% block raw %}
          Hi {{ user.username }}!
          {% endblock %}
        </div>
      </li>

      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
          {% if user.imag_clie %}
              <img src="{{ user.imag_clie.url }}" alt="profile">
          {% else %}
              <img src="{% static 'images/faces/default-profile-picture.jpg' %}" alt="profile"/>
          {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="{{ user.get_absolute_url }}">
            <i class="ti-user text-primary"></i>
            Edit User
          </a>
          <a class="dropdown-item" href="{% url 'account_change_password' %}">
            <i class="ti-key text-primary"></i>
            Change Password
          </a>
          <a class="dropdown-item" href="{% url 'account_email' %}">
            <i class="ti-email text-primary"></i>
            Manage Email
          </a>
          <a class="dropdown-item" href="{% url 'socialaccount_connections' %}">
            <i class="ti-link text-primary"></i>
            Manage Social Media
          </a>
          <a class="dropdown-item" href="{% url 'account_logout' %}">
            <i class="ti-power-off text-primary"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="ti-view-list"></span>
    </button>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div>
            <img src="{% static "images/Logo-dmcaprivacy.png" %}" width="120px" height="28px" >
          </div>
          <br>
        <h6 class="modal-title" id="exampleModalLabel" style="margin-left: 5%;">Modal title</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-title">Detailed Report</p>

            <div class="container">
                <div class="row">
                        <div class="col-sm">
                            <h4 id="cant_urls" align="center">number of urls </h4>
                            <p class="alert-success" align="center">Urls approved</p>
                        </div>
                        <div class="col-sm">
                            <h6 class="font-weight-light"><b id="name_tube_page" style="font-weight: bold">Type of claim</b> </h6>

                        </div>
                    <div class="col-sm">
                      <p class="text-muted mb-2 mb-xl-0">
                                This report was sent and approved on <b id="date_tube" style="font-weight: bold"> date of the tube</b>
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm form-text">
                            <textarea id="tube_urls" style="height: 200px; width: 100%" readonly> </textarea>
                        </div>
                    </div>
                </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



