<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'loginview' %}">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_users' %}">
                    <i class="ti-direction-alt menu-icon"></i>
                    <span class="menu-title">Manage Users</span>
                </a>
            </li>
        {% endif %}
        {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_plans' %}">
                    <i class="ti-receipt menu-icon"></i>
                    <span class="menu-title">Manage Plans</span>
                </a>
            </li>
        {% endif %}

        {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="ti-files menu-icon"></i>
                    <span class="menu-title">Manage Pages</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul style="list-style-type:none" class="nav flex-column sub-menu" >
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'official_pages' %}">
                                <span class="menu-title">Official Pages</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tube_pages' %}">
                                <span class="menu-title">Tube Pages</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        {% endif %}

        {% if user.is_client %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_nicks' %}">
                    <i class="far fa-address-card menu-icon"></i>
                    <span class="menu-title">Nicks</span>
                </a>
            </li>
        {% endif %}
        {% if user.is_client %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reports_list' %}">
                    <i class="ti-files menu-icon"></i>
                    <span class="menu-title">Google Reports</span>
                </a>
            </li>
        {% endif %}
        {% if user.is_client %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tubes_list' %}">
                    <i class="ti-clipboard menu-icon"></i>
                    <span class="menu-title">Tubes Reports</span>
                </a>
            </li>
        {% endif %}

        {% if user.is_worker %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_clients' %}">
                    <i class="far fa-address-book menu-icon"></i>
                    <span class="menu-title">List of clients</span>
                </a>
            </li>
        {% endif %}

        {% if user.is_worker %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'google_reports' %}">
                    <i class="fas fa-file-upload menu-icon"></i>
                    <span class="menu-title">Upload Google reports</span>
                </a>
            </li>
        {% endif %}

        {% if user.is_worker %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_reports' %}">
                    <i class="far fa-file-alt menu-icon"></i>
                    <span class="menu-title">Manage Google reports</span>
                </a>
            </li>
        {% endif %}

        {% if user.is_worker %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tube_reports' %}">
                    <i class="fas fa-file-invoice menu-icon"></i>
                    <span class="menu-title">Upload Tube reports</span>
                </a>
            </li>
        {% endif %}

        {% if user.is_worker %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_tubes' %}">
                    <i class="far fa-list-alt menu-icon"></i>
                    <span class="menu-title">Manage Tube reports</span>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>
