{% extends 'dmca/tables_content.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %} Tubes Reports {% endblock %}
{% block title_content %} Tubes Reports {% endblock %}
{#    CONTENT   #}
{% block card_title %} {{ title }} {% endblock card_title %}
{% block buttons %}{% endblock %}

{% block columns %}
<tr class="py-1">
    <th>Id tube report</th>
    <th>Urls</th>
    <th width="30%"> Date</th>
    <th width="30%">Page</th>
    <th width="30%"> # Url's</th>
    <th width="10%">Status</th>
</tr>
{% endblock %}

{% block rows %}
    {# datatables #}
{% endblock %}

{% block extra_body %}
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="myModalClient" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <img src="{% static "images/Logo-dmcaprivacy.png" %}" width="120px" height="28px" >
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card position-relative">
                                <div class="card-body">
                                    <p class="card-title">Detailed Report</p>
                                    <div class="container">
                                        <div class="row">
                                                <div class="col-sm">
                                                    <h1 id="cant_urls" align="center">number of urls </h1>
                                                    <p class="alert-success" align="center">Urls approved</p>
                                                </div>
                                                <div class="col-sm">
                                                    <h4 class="font-weight-light"><b id="name_tube_page" style="font-weight: bold"></b> </h4>
                                                </div>
                                            <div class="col-sm">
                                              <p class="text-muted mb-2 mb-xl-0">
                                                        This report was sent and approved on <b id="date_tube" style="font-weight: bold"></b>
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm form-text">
                                                    <textarea id="tube_urls" style="height: 250px; width: 100%" readonly> </textarea>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <b>Nicks: </b>
                    {% for nick in for_nicks %}
                        - {{ nick }}
                    {% endfor %}
                    |   <b>Pages: </b>
                    {% for pages in for_pages %}
                        {{ pages }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'dmca/js_tables.html' %}
    <script src="{% static 'functions/clients/tubes_list.js' %}"></script>
{% endblock %}
